<h3>Time</h3>
<div class="card card-body bg-light">
    <strong>{{clock | date: 'HH:mm:ss'}}</strong>
</div>

<h3>Active alarms</h3>
<div class="table-responsive">
    <table aria-describedby="homepage" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Mo</th>
            <th scope="col">Tu</th>
            <th scope="col">We</th>
            <th scope="col">Th</th>
            <th scope="col">Fr</th>
            <th scope="col">Sa</th>
            <th scope="col">Su</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let active_alarm of activeAlarms">
            <td class="text-center">{{active_alarm.name}}</td>
            <td class="{{ active_alarm.monday  ? 'alarm-on' : 'alarm-off' }}"></td>
            <td class="{{ active_alarm.tuesday  ? 'alarm-on' : 'alarm-off' }}"></td>
            <td class="{{ active_alarm.wednesday  ? 'alarm-on' : 'alarm-off' }}"></td>
            <td class="{{ active_alarm.thursday  ? 'alarm-on' : 'alarm-off' }}"></td>
            <td class="{{ active_alarm.friday  ? 'alarm-on' : 'alarm-off' }}"></td>
            <td class="{{ active_alarm.saturday  ? 'alarm-on' : 'alarm-off' }}"></td>
            <td class="{{ active_alarm.sunday  ? 'alarm-on' : 'alarm-off' }}"></td>
            <td class="text-center">{{ active_alarm.hour < 10 ? '0' : '' }}{{active_alarm.hour}}
                :{{ active_alarm.minute < 10 ? '0' : '' }}{{active_alarm.minute}}
            </td>
        </tr>
        </tbody>
    </table>
</div>
<h3>Player</h3>
<div class="card card-body bg-light"
     *ngFor="let active_webRadio of activeWebRadios">{{active_webRadio.name}}
</div>
<br>
<div *ngIf="playerLoaded">
    <div class="d-grid gap-2">
        <button (click)="switchPlayerStatus('on')" type="button"
                class="btn btn-{{ player.status == 'on' ? 'success' : 'default' }} btn-lg btn-outline-dark btn-block">
            <span class="fa fa-play"> Start</span>
        </button>
        <button (click)="switchPlayerStatus('off')" type="button"
                class="btn btn-{{ player.status == 'off' ? 'danger' : 'default' }} btn-lg btn-outline-dark btn-block">
            <span class="fa fa-stop"> Stop</span>
        </button>
    </div>
</div>
<br>
<h3>Volume</h3>
<div class="d-grid gap-3">
    <button (click)="reduceVolume()" type="button" class="btn btn-lg btn-outline-dark btn-block">
        <span class="fa fa-volume-down"> Down</span>
    </button>
    <button (click)="increaseVolume()" type="button" class="btn btn-lg btn-outline-dark btn-block">
        <span class="fa fa-volume-up"> Up</span>
    </button>
</div>
