<h3>Internet Radio</h3>
<div>
    <div class="table-responsive">
        <table aria-describedby="WebRadio" class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Play</th>
                <th scope="col">Change</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let webRadio of webRadios">
                <td class="text-center">{{webRadio.name}}</td>
                <td class="text-center">
                    <button (click)="playWebRadio(webRadio)" type="button" class="btn btn-success btn-md">
                        <span class="fa fa-play"></span>
                    </button>
                </td>
                <td class="text-center">
                    <button class="btn btn-default btn-md" (click)="open(content, webRadio)">
                        <span class="fa fa-edit"></span>
                    </button>
                </td>
                <td class="text-center">
                    <button (click)="confirmDeleteWebRadio(confDel, webRadio)" type="button"
                            class="btn btn-danger btn-md">
                        <span class="fa fa-trash"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <button (click)="open(content,webRadio=null)" type="button" class="btn btn-outline-dark btn-md">
            <span class="fa fa-plus"> Add</span>
        </button>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Internet Radio</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" *ngIf="webRadio">
        <form name="content">
            <div class="form-group">
                <div class="input-group">
                    <div class="container col-md-12">
                        <div class="row">
                            <div class="col-md-3"><label for="name">Name</label></div>
                            <div class="col-md-9"><input id="name" class="form-control" [(ngModel)]="webRadio.name"
                                                         name="name"/></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"><label for="url">URL</label></div>
                            <div class="col-md-9"><input id="url" class="form-control" [(ngModel)]="webRadio.url"
                                                         name="url"/></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>

<ng-template #confDel let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Internet Radio deletion</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
                (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" *ngIf="webRadioToDelete">
        <p><strong>Are you sure you want to delete Internet Radio: <span
                class="text-primary">{{webRadioToDelete.name}}</span> ?</strong></p>
    </div>
    <div class="modal-footer">
        <button type="button" ngbAutofocus class="btn btn-danger" (click)="modal.close('yes click')">Yes</button>
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">No</button>
    </div>
</ng-template>


